:root {
  --global-bg-color: #FAECE7;
  --global-card-bg-color: #FFFFFF;
  --global-code-bg-color: #FAECE7;
  --global-footer-text-color: #4A1B0C;
}

html[data-theme="dark"] {
  --global-bg-color: #2C2C2A;
  --global-card-bg-color: #3A3A38;
  --global-code-bg-color: #3A3A38;
  --global-footer-text-color: #E8794F;
}
